<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Angular 1.6.9 -->
    <script src="/src/js/angularjs/1.6.9/angular.min.js"></script>

    <!-- Cleave Angular -->
    <script src="/src/js/cleave.js/cleave-angular.min.js"></script>
    <script src="/src/js/cleave.js/cleave-phone.i18n.js"></script>

    <!-- App -->
    <script type="text/javascript" src="/src/js/app.js"></script>

    <!-- Other scripts -->
    <script type="text/javascript" src="/src/js/scripts.js"></script>

    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="/src/css/styles.css"/>
  </head>
<body>

  <div ng-app="app" ng-controller="AppController">
    <div class="overflow-x-auto">
      <div class="min-w-screen min-h-screen bg-gray-100 flex items-top justify-center bg-gray-100 font-sans overflow-hidden">
        <div class="w-full lg:w-2/5">
          <div class="bg-transparent rounded my-6">

            <table class="min-w-max w-full table-auto mb-5 bg-white border-2 border-gray-200">
              <tr class="text-gray-600 text-sm leading-normal">
                <th class="bg-gray-100 py-3 px-6 text-right w-3/4" colspan="4">List price</th>
                <td class="bg-gray-100 py-3 px-6 text-right w-1/4">
                  <input type="text" ng-model="amort.price" cleave="options.price" placeholder="PhP 2,000,000.00">
                </td>
              </tr>
              <tr class="text-gray-600 text-sm leading-normal">
                <th class="bg-gray-100 py-3 px-6 text-right w-3/4" colspan="4">Term (Years)</th>
                <td class="bg-gray-100 py-3 px-6 text-right w-1/4">
                  <input type="text" ng-model="amort.term" cleave="options.term" placeholder="10" ng-value="10">
                </td>
              </tr>
              <tr class="text-gray-600 text-sm leading-normal">
                <th class="bg-gray-100 py-3 px-6 text-right w-3/4" colspan="4">(Months)</th>
                <td class="bg-gray-100 py-3 px-6 text-right w-1/4">
                  {{ amort.term * 12 }}
                </td>
              </tr>
              <tr class="text-gray-600 text-sm leading-normal">
                <th class="bg-gray-100 py-3 px-6 text-right w-3/4" colspan="4">Interest rate (per annum)</th>
                <td class="bg-gray-100 py-3 px-6 text-right w-1/4">
                  <input class="rate" type="text" ng-model="amort.rate" cleave="options.rate" placeholder="5.75"> %
                </td>
              </tr>
              <tr class="text-gray-600 text-sm leading-normal">
                <th class="bg-gray-100 py-3 px-6 text-right w-3/4" colspan="4">(prorated per month)</th>
                <td class="bg-gray-100 py-3 px-6 text-right w-1/4">
                  {{ amort.rate/12 | number: 2 }} %
                </td>
              </tr>
              <tr class="text-gray-600 text-sm leading-normal">
                <th class="bg-gray-100 py-3 px-6 text-right w-3/4" colspan="4">Amortization (monthly)</th>
                <td class="bg-gray-100 py-3 px-6 text-right w-1/4">
                  PhP {{ amort.price | amort: amort.term:amort.rate | number: 2 }}
                </td>
              </tr>
              <tr class="text-gray-600 text-sm leading-normal">
                <th class="bg-gray-100 py-3 px-6 text-right w-3/4" colspan="4">Total gross income</th>
                <td class="bg-gray-100 py-3 px-6 text-right w-1/4">
                  PhP {{ ((amort.price | amort: amort.term:amort.rate) * ((amort.term * 12) + 1)) | number: 2 }}
                </td>
              </tr>
            </table>

            <table class="min-w-max w-full table-auto shadow-md bg-white">
              <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                  <th class="py-3 px-6 text-center w-1/5" rowspan="2">Month</th>
                  <th class="py-3 px-6 text-right w-1/5" rowspan="2">Amortization</th>
                  <th class="pt-3 px-6 text-right w-2/5" colspan="2">Payments credited to</th>
                  <th class="py-3 px-6 text-right w-1/5" rowspan="2">Balance</th>
                </tr>
                <tr class="bg-gray-200 text-gray-600 text-sm leading-normal" rowspan="2">
                  <th class="pb-3 px-6 text-right w-1/5">(Interest)</th>
                  <th class="pb-3 px-6 text-right w-1/5">(Principal)</th>
                </tr>
              </thead>
              <tbody class="text-gray-600 text-sm font-light" ng-if="amort.price.length > 0 && amort.term.length > 0 && amort.rate.length > 0">
                <tr class="border-b border-gray-200 hover:bg-gray-100" ng-repeat="row in schedule(amort.price, amort.term, amort.rate, (amort.price | amort: amort.term:amort.rate))" ng-if="$index > 0">
                  <td class="py-3 px-6 text-center whitespace-nowrap">{{ row[0] }}</td>
                  <td class="py-3 px-6 text-right">P{{ amort.price | amort: amort.term:amort.rate | number: 2 }}</td>
                  <td class="py-3 px-6 text-right">P{{ row[2] | number: 2 }}</td>
                  <td class="py-3 px-6 text-right">P{{ row[1] | number: 2 }}</td>
                  <td class="py-3 px-6 text-right">P{{ row[3] | number: 2 }}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
